# middle output
*.pyc
*.model
*.npy
datasets/
model/weights/
model/weights_enformer/
model/weights_ablation/
model/weights_finetune/
experiment/images/
preprocess/images/

# middle scripts
training_enformer.py
evaluation_enformer.py
training_ablation.py
evaluation_ablation.py
finetune_sc.py