# middle output
*.pyc
*.model
*.npy
datasets/
datasets-old/
model/weights/
model/weights_enformer/
model/weights_ablation/
model/weights_finetune/
model/weights_scfinetune/
model/weights_slope/
experiment/04-enformer-comparison/images/
experiment/images/
experiment/ignore/
preprocess/images/

# middle scripts
training_enformer.py
evaluation_enformer.py
training_ablation.py
evaluation_ablation.py
finetune_sc.py
test_interface.py
training_slope.py
evaluation_slope.py