# middle output
*.pyc
*.model
*.npy
datasets/
datasets-old/
model/weights/
model/weights_enformer/
model/weights_ablation/
model/weights_finetune/
model/weights_scfinetune/
model/weights_slope/
model/weights_scfinetune_slope/
experiment/04-enformer-comparison/images/
experiment/images/
experiment/ignore/
preprocess/images/
experiment/11-disease-SNP/data/
experiment/11-disease-SNP/raw_data/
experiment/12-disease-eQTL-singlecell/data/

# middle scripts
training_enformer.py
evaluation_enformer.py
training_ablation.py
evaluation_ablation.py
finetune_sc.py
evaluation_sc.py
finetune_sc_slope.py
test_interface.py
training_slope.py
evaluation_slope.py
evaluation_finetune.py
evaluation_causal.py
evaluation_disease_case.py
evaluation_slope_compare.py
evaluation_tissue.py
evaluation_sc_finetune.py
slope_output.py

# other files
*.bigWig
*.pdf